---
import "../styles/global.css";
import clsx from "clsx";

import DatastaxLogo from "../components/DatastaxLogo.astro";
import Form from "../components/Form.astro";

// @ts-ignore
import { Loader } from "../components/Loader";
import { saveToAstra } from "../util/save-to-astra";
import { getFromAstra } from "../util/get-from-astra";

const url = Astro.request.url;
const origin = new URL(url).origin;
const u = Astro.url.searchParams.get("u");
let poem = "";
let title = "DataStax × Valentine's Day";
let ogImageUrl = `${origin}/og-home.png`;

if (u && !poem) {
  title = `${u} | DataStax × Valentine's Day`;
  const cachedPoem = await getFromAstra({ username: u });
  if (cachedPoem) {
    poem = cachedPoem.poem;
  } else {
    const langflowClientModule = await import("@datastax/langflow-client");
    const client = new langflowClientModule.LangflowClient({
      baseUrl: "https://langflow.new",
    });
    const flow = client.flow("00c0fa6d-23f1-4582-a906-cf1101c72c3d");
    const getResponse = async () => {
      try {
        return await flow.run(u);
      } catch (e) {
        return await getResponse();
      }
    };
    const response = await getResponse();
    poem = response?.outputs[0]?.outputs[0]?.results?.message?.data?.text;
    await saveToAstra({ username: u, poem });
  }
  ogImageUrl = `${origin}/og?poem=${encodeURIComponent(poem.split("\n\n")[0])}&username=${encodeURIComponent(u)}`;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title || "DataStax × Valentine's Day"}</title>
    <meta
      name="description"
      content="Generate a Valentine's Day poem from DataStax to you with AI."
    />
    <meta property="og:title" content={title || "DataStax × Valentine's Day"} />
    <meta
      property="og:description"
      content="Generate a Valentine's Day poem from DataStax to you with AI."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    {ogImageUrl && <meta property="og:image" content={ogImageUrl} />}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@datastaxdevs" />
    {ogImageUrl && <meta name="twitter:image" content={ogImageUrl} />}
    <link
      rel="icon"
      type="image/png"
      href="/icons/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
    <link rel="shortcut icon" href="/icons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-touch-icon.png"
    />
    <link rel="manifest" href="/icons/site.webmanifest" />
  </head>
  <body class="bg-black text-white">
    <Loader client:idle />
    <main
      class={clsx(
        "flex flex-col gap-8 p-8 max-w-screen-md mx-auto text-center items-center justify-center content-center",
        !poem && "min-h-screen"
      )}
    >
      <h1
        class="flex w-full justify-center text-3xl md:text-4xl items-center gap-4"
      >
        <div class="w-64"><DatastaxLogo width="100%" /></div>
        <span>×</span>
        <span>
          {
            u ? (
              <img
                class="rounded-full"
                alt={`${u}'s profile picture`}
                src={`https://github.com/${u}.png`}
                width="64"
                height="64"
              />
            ) : (
              "Valentine's"
            )
          }
        </span>
      </h1>
      {
        !poem ? (
          <Form />
        ) : (
          <div class="grid gap-4">
            <div class="grid grid-cols-2 md:grid-cols-4 gap-2 items-center">
              <a
                href="/"
                class="bg-white flex items-center text-black p-2 text-sm font-bold h-10 rounded-md"
              >
                Create Yours
              </a>
              <a
                href={`https://twitter.com/intent/tweet?text=${encodeURIComponent(`Check out my AI-generated Valentine's Day poem from @datastaxdevs! \n\n${url}`)}`}
                class="bg-black hover:bg-neutral-700 flex items-center border border-white text-white p-2 text-sm font-bold h-10 rounded-md"
              >
                Share on 𝕏
              </a>
              <a
                onclick="alert('TODO');return false;"
                href="https://langflow.new/valentines"
                class="flex items-center bg-neutral-800 hover:bg-neutral-700 border border-neutral-700 text-white p-2 text-sm font-bold h-10 rounded-md"
              >
                Explore the Flow
              </a>
              <a
                onclick="alert('TODO');return false;"
                href="https://youtube.com/watch?v=dQw4w9WgXcQ"
                class="flex items-center bg-neutral-800 border hover:bg-neutral-700 border-neutral-700 text-white p-2 text-sm font-bold h-10 rounded-md"
              >
                Learn How it Works
              </a>
            </div>
            <pre class="text-left">{poem.trim()}</pre>
          </div>
        )
      }
    </main>
  </body>
</html>
